#jp {
  margin-top: 0.25rem;
  background: linear-gradient(
    to bottom,
    var(--color-red-dark),
    var(--color-red-darkest)
  );
  color: var(--color-light-1);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/**
=========================
* Lahan Pelatihan Satpam Page
*=========================
*/

#sewa {
  padding-top: 3rem;
  padding-bottom: 9rem;
  background: linear-gradient(
    to right,
    var(--color-red-dark),
    var(--color-red-darkest),
    var(--color-red-dark)
  );
  color: var(--color-light-1);
  z-index: 2;
}

#sewa-hero {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem;
}

#sewa-hero-left,
#sewa-hero-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sewa-hero-right {
  background-color: black;
  aspect-ratio: 16/9;
  overflow: hidden;
}
#sewa-hero-right video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#sewa-content {
  padding-bottom: 5rem;
  background-color: var(--color-light-2);
}

#sewa-content-wr {
  background-color: var(--color-light-1);
  width: 768px;
  max-width: 100%;
  margin: -5rem auto 0 auto;
  padding: 2rem 1rem;
  z-index: 3;
}

/**
=========================
* Media Query single.css
* @todo media query single.css
*=========================
*/

/**
=========================
* 571px
* @todo media query single.css
*=========================
*/
@media screen and (max-width: 571px) {
  #sewa-hero {
    grid-template-columns: 1fr;
  }
}
